extends base.pug

block content
    section#introSection 
         div Welcome to city dance Academy  
         div.small Eat Dance Sleep and Learn

    section#missionSection 
        h2 Our Mission
        div.card 
            h3 Dance perfection
            div.card-box
                div.card-img 
                    img(src="/static/img/card.gif")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.   
    
        div.card 
            h3 Dance as way you like
            div.card-box
                div.card-img 
                    img(src="/static/img/card1.png")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit.    
        div.card 
            h3 Expert teaching
            div.card-box
                div.card-img 
                    img(src="/static/img/card2.jpg")
                div.card-content 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    
    section#sponsorSection 
        h2 Our Sponsors
        div#sponsor
            img(src="/static/img/sp1.png" alt="sponsers image" Class="spImage")        
            img(src="/static/img/sp2.jpg" alt="sponsers image" Class="spImage")        
            img(src="/static/img/sp3.png" alt="sponsers image" Class="spImage")        
            img(src="/static/img/sp4.png" alt="sponsers image" Class="spImage")