<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Registration form</title>
    style
      include ../static/style.css
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact us</li>
        </ul>
    </nav>

    <form action="/" method="POST" id="contact">
        <h2>Get gym membership in 60$ ! Fill the form</h2>

        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="age" placeholder="Enter your age">
        <input type="text" name="phonenumber" placeholder="enter your number">
        <textarea  name="address" cols="30" placeholder="Enter your Address" rows="10"></textarea>
        <textarea name="moreinfo" id="" cols="30" placeholder="More information" rows="10"></textarea>
        <button type="submit" class="btn">Submit</button>
    </form>
    
</body>
</html>